---
import LinkCard from "~/components/astro/link-card.astro"
import { en, ja } from "~/config"
import LinksContentEn from "~/config/en/links.mdx"
import LinksContentJa from "~/config/ja/links.mdx"
import { links } from "~/config/links"
import { getLangFromUrl, useTranslations } from "~/i18n/utils"
import MainLayout from "~/layouts/main.astro"
import { getLanguagePaths } from "~/utils/langs"

export function getStaticPaths() {
  return getLanguagePaths()
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const LinksContent = lang === "ja" ? LinksContentJa : LinksContentEn
const pageMeta = lang === "ja" ? ja.pageMeta : en.pageMeta
---

<MainLayout
  title={pageMeta.links.title}
  description={pageMeta.links.description}
  ogImage={pageMeta.links.ogImage}
>
  <h3 class="my-10 text-center text-xl font-bold">{t("links.title")}</h3>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    {links.map((link) => <LinkCard {...link} />)}
  </div>
  <div class="prose max-w-3xl dark:prose-invert">
    <LinksContent />
  </div>
</MainLayout>
